<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updatePost" method="post">
        <input placeholder="id" type="hidden" name="id" value="<%= post.id %>">
        <input placeholder="title" type="text" name="title" value="<%= post.title %>">
        <input placeholder="body" type="text" name="body" value="<%= post.body %>">
        <input placeholder="createdBy" type="text" name="createdBy" value="<%= post.createdBy %>">
        <input placeholder="active" type="text" name="active" value="<%= post.active %>">
        <input placeholder="latitude" type="text" name="latitude" value="<%= post.latitude %>">
        <input placeholder="longitude" type="text" name="longitude" value="<%= post.longitude %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>